p{
color:#726782;
font-size:20px;
}

.listitem{
	color: #726782
	font-size:25px;
}
.wrap-list {
width: 40%;
border-radius: 10px;
border: 5px dashed #B3A3AB;
text-align: center
}
.wrap-trivia1 {

width: 450px;
border-radius: 10px;
border: 5px dotted #B3A3AB;
text-align: center
}
.wrap-trivia2 {

width: 450px;
border-radius: 10px;
border: 5px dotted #B3A3AB;
text-align: center
}
.wrap-trivia3 {

width: 450px;
border-radius: 10px;
border: 5px dotted #B3A3AB;
text-align: center
}
.paragraph{

text-align: center}















